<button class="btn btn-default btn-lg">
    {{#if done}}
    <span style="color: green" class="glyphicon glyphicon-ok"></span>
    {{else}}
    <span style="color: crimson" class="glyphicon glyphicon-unchecked"></span>
    {{/if}}
</button> {{description}}
